@import "../variables";

.background{
  &.profileBG{
    height: 390px;
    top: 0;
    left: 0;
    width: 100%;
    background: #FF9C26;
    background-image: url("");
    @media screen and (max-width: $smWidth) {
      height: 620px;
      }
    }
  }
