@import "../variables";

.background {
  &.profileBG {
    height: 320px;
    top: 70px;
    left: 0;
    width: 100%;
    background: #FF9C26;
    background-image: url("");
    @media screen and (max-width: $smWidth) {
      height: 380px;
      top: 56px;
    }
  }
}
