@import "../variables";

.background {
  &.questionBG {
    height: 320px;
    top: 70px;
    left: 0;
    width: 100%;
    background: $primaryGray;
    @media screen and (max-width: $smWidth) {
      height: 620px;
    }
  }
}
