.TokenImg{
  background-image: url("https://tegger.io/images/3369e516414cf4501343b02927e5d781-logoTegger.png");
  background-position: center;
  background-size: cover;
  width: 32px;
  height: 35px;
  position: absolute;
  margin-top: 5px;
  left: -37px;
}
