@import "../variables";

.background {
  &.onboardingBG {
    height: 600px;
    top: 70px;
    left: 0;
    width: 100%;
    background: #FF7825;
    background-image: url("");
    @media screen and (max-width: $smWidth) {
      height: 600px;
      top: 56px;
    }
  }
}
