$primaryOrange: #FF9C28;
$secondaryOrange: #FF6633;
$hoverPrimary: #DD861F;
$hoverSecondary: #DD5228;
$gradientPrimaryFrom: $primaryOrange;
$gradientPrimaryTo: #FF8B00;
$gradientSecondaryFrom: $secondaryOrange;
$gradientSecondaryTo: #FF3E00;
$primaryBlack: #040D14;
$primaryGray: #848383;
$iconPrimary: #B8B8B8;
$iconHover: #F4F4F4;
